.containerAll {
text-align: center;
}

.lifeWithOutYou {
text-align: center;
display: none;
background-color: black;
color: white;
height: 100vh;
opacity: 0;
animation: fadeIn 1s forwards;
}
.lifepara{
padding-top: 80vh;
}
.lifeWithYou {
text-align: center;
display: none;
background-color: black;
color: white;
height: 100vh;
background-image: url('InShot_20240813_013950127.jpg');
background-size: cover;
background-position: center;
opacity: 0;
animation: fadeIn 1s forwards;
}
.lifeWithYou p{
padding-top: 90vh;
}
@media (max-width: 769px) {
.lifeWithYou{
    background-image: url('InShot_20240813_013533136.jpg');
}
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* Add transitions for smooth hiding and showing */
.fade-out {
animation: fadeOut 1s forwards;
}

.fade-in {
animation: fadeIn 1s forwards;
}

/* Keyframes for fadeOut animation */
@keyframes fadeOut {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}
/* CSS */
.button-89 {
--b: 3px;   /* border thickness */
--s: .45em; /* size of the corner */
--color: #373B44;

padding: calc(.5em + var(--s)) calc(.9em + var(--s));
color: var(--color);
--_p: var(--s);
background:
conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid #0000;
outline-offset: .6em;
font-size: 16px;

border: 0;

user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
--_p: 0px;
outline-color: var(--color);
outline-offset: .05em;
}

.button-89:active {
background: var(--color);
color: #fff;
}


.button-9 {
--b: 3px;   /* border thickness */
--s: .45em; /* size of the corner */
--color: #ffffff;

padding: calc(.5em + var(--s)) calc(.9em + var(--s));
color: var(--color);
--_p: var(--s);
background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid #0000;
outline-offset: .6em;
font-size: 16px;

border: 0;

user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-9:hover,
.button-9:focus-visible{
--_p: 0px;
outline-color: var(--color);
outline-offset: .05em;
}

.button-9:active {
background: var(--color);
color: #fff;
}